USE [master]
GO
/****** Object:  Database [StudentCharityFundDB]    Script Date: 11/01/2025 10:05:01 ص ******/
CREATE DATABASE [StudentCharityFundDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CharitableOrganization', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CharitableOrganization.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CharitableOrganization_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\CharitableOrganization_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentCharityFundDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentCharityFundDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/01/2025 10:05:01 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CatgoryName] [nvarchar](50) NOT NULL,
	[Discription] [nvarchar](1500) NOT NULL,
	[Amount] [smallmoney] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 11/01/2025 10:05:01 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CountryName] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donations]    Script Date: 11/01/2025 10:05:01 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donations](
	[DonationID] [int] IDENTITY(1,1) NOT NULL,
	[DonorID] [int] NOT NULL,
	[DonationDate] [date] NOT NULL,
	[Amount] [decimal](10, 2) NULL,
 CONSTRAINT [PK__Donation__C5082EDB77B83AB6] PRIMARY KEY CLUSTERED 
(
	[DonationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Donors]    Script Date: 11/01/2025 10:05:01 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Donors](
	[DonorID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[PhoneNumber] [nvarchar](30) NOT NULL,
	[SecondName] [nvarchar](20) NULL,
 CONSTRAINT [PK__Donors__052E3F988D517E2F] PRIMARY KEY CLUSTERED 
(
	[DonorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchoolStudentpayments]    Script Date: 11/01/2025 10:05:01 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchoolStudentpayments](
	[paymentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Amount] [money] NOT NULL,
 CONSTRAINT [PK_Studentpayments] PRIMARY KEY CLUSTERED 
(
	[paymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchoolStudents]    Script Date: 11/01/2025 10:05:01 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchoolStudents](
	[SchoolStudentID] [int] IDENTITY(1,1) NOT NULL,
	[BaseStudentID] [int] NOT NULL,
	[School] [nvarchar](100) NOT NULL,
	[Class] [nvarchar](30) NOT NULL,
	[Branch] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_SchoolStudents] PRIMARY KEY CLUSTERED 
(
	[SchoolStudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 11/01/2025 10:05:01 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[SecondName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[JobTitle] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](150) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[Salary] [int] NOT NULL,
	[Gendor] [bit] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK__Staff__96D4AAF787E77317] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 11/01/2025 10:05:01 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[NationalNo] [nvarchar](30) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](30) NOT NULL,
	[Note] [nvarchar](200) NULL,
	[CategoryID] [int] NOT NULL,
	[Gendor] [bit] NOT NULL,
	[IsArchived] [bit] NOT NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UniversityStudentpayments]    Script Date: 11/01/2025 10:05:01 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UniversityStudentpayments](
	[paymentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Amount] [money] NOT NULL,
 CONSTRAINT [PK_Universitypayments] PRIMARY KEY CLUSTERED 
(
	[paymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UniversityStudents]    Script Date: 11/01/2025 10:05:01 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UniversityStudents](
	[UniversityStudentID] [int] IDENTITY(1,1) NOT NULL,
	[BaseStudentID] [int] NOT NULL,
	[UniversityName] [nvarchar](100) NOT NULL,
	[UniversityLocation] [nvarchar](50) NOT NULL,
	[Faculty] [nvarchar](100) NOT NULL,
	[StudyYear] [int] NOT NULL,
 CONSTRAINT [PK_UniversityStudents] PRIMARY KEY CLUSTERED 
(
	[UniversityStudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/01/2025 10:05:01 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nchar](40) NOT NULL,
	[MemberID] [int] NOT NULL,
	[Permission] [int] NOT NULL,
	[Password] [nchar](100) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Students]    Script Date: 11/01/2025 10:05:01 ص ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Students] ON [dbo].[Students]
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Students] ADD  CONSTRAINT [DF_Students_IsArchived]  DEFAULT ((0)) FOR [IsArchived]
GO
ALTER TABLE [dbo].[Donations]  WITH CHECK ADD  CONSTRAINT [FK_Donations_Donors] FOREIGN KEY([DonorID])
REFERENCES [dbo].[Donors] ([DonorID])
GO
ALTER TABLE [dbo].[Donations] CHECK CONSTRAINT [FK_Donations_Donors]
GO
ALTER TABLE [dbo].[SchoolStudentpayments]  WITH CHECK ADD  CONSTRAINT [FK_SchoolStudentpayments_SchoolStudents] FOREIGN KEY([StudentID])
REFERENCES [dbo].[SchoolStudents] ([SchoolStudentID])
GO
ALTER TABLE [dbo].[SchoolStudentpayments] CHECK CONSTRAINT [FK_SchoolStudentpayments_SchoolStudents]
GO
ALTER TABLE [dbo].[SchoolStudents]  WITH CHECK ADD  CONSTRAINT [FK_SchoolStudents_Students] FOREIGN KEY([BaseStudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[SchoolStudents] CHECK CONSTRAINT [FK_SchoolStudents_Students]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Categories]
GO
ALTER TABLE [dbo].[UniversityStudentpayments]  WITH CHECK ADD  CONSTRAINT [FK_UniversityStudentpayments_UniversityStudents] FOREIGN KEY([StudentID])
REFERENCES [dbo].[UniversityStudents] ([UniversityStudentID])
GO
ALTER TABLE [dbo].[UniversityStudentpayments] CHECK CONSTRAINT [FK_UniversityStudentpayments_UniversityStudents]
GO
ALTER TABLE [dbo].[UniversityStudents]  WITH CHECK ADD  CONSTRAINT [FK_UniversityStudents_Students] FOREIGN KEY([BaseStudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[UniversityStudents] CHECK CONSTRAINT [FK_UniversityStudents_Students]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Staff] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Staff] ([MemberID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Staff]
GO
USE [master]
GO
